@import 'mixin';

@font-face {
    font-family: 'HelveticaLT57';
    src: url("fonts/HelveticaNeueLTStd-Cn.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SubwayBold';
    src: url("fonts/SubwayFootlongOffice.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Subway';
    src: url("fonts/SubwaySix-InchOffice.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

$green: rgb(2, 137, 64);
$light-green: rgb(139, 205, 50);
$yellow: #ffc20d;
$white: #FFF;
$black: rgb(55, 53, 54);
$Subway: 'Subway';
$Subway-bold: 'SubwayBold';
$grey: #e6e6e6;
$dark-green: rgb(0, 98, 48);


body {
    font-family: Subway;
    color: $white;

    @include respond-to(xs) {
        font-size: 12px;
    }

    @include respond-to(sm) {
        font-size: 12px;
    }

    @include respond-to(md) {
        font-size: 12px;
    }

    .pc {
        @include respond-to(xs) {
            display: none;
        }

        @include respond-to(sm) {
            display: none;
        }

        @include respond-to(md) {
            display: block !important;
        }

        @include respond-to(lg) {
            display: block !important;
        }

        @include respond-to(xlg) {
            display: block !important;
        }

        @include respond-to(xxlg) {
            display: block !important;
        }

        @include respond-to(xxxlg) {
            display: block !important;
        }
    }

    .pc-768 {
        @include respond-to(xs) {
            display: none;
        }

        @include respond-to(sm) {
            display: block !important;
        }

        @include respond-to(md) {
            display: none;
        }

        @include respond-to(lg) {
            display: none;
        }

        @include respond-to(xlg) {
            display: none;
        }

        @include respond-to(xxlg) {
            display: none;
        }

        @include respond-to(xxxlg) {
            display: none;
        }
    }

    .mobile {
        @include respond-to(xs) {
            display: block !important;
        }

        @include respond-to(sm) {
            display: none;
        }

        @include respond-to(md) {
            display: none;
        }

        @include respond-to(lg) {
            display: none;
        }

        @include respond-to(xlg) {
            display: none;
        }

        @include respond-to(xxlg) {
            display: none;
        }

        @include respond-to(xxxlg) {
            display: none;
        }
    }

    .r1 {
        width: 50%;
        margin: auto;

        @include respond-to(xs) {
            width: 70%;
        }

        @include respond-to(sm) {
            width: 65%;
        }
    }

    .rounded-container {
        height: 100%;
        position: relative;

        .rounded-div {
            height: 130px;
            width: 130px;
            border-radius: 50%;
            position: relative;
    
            span, div.img-container {
                position: absolute;
                left: 0;
                right: 0;
                text-align: center;
            }
            
            span {
                font-size: 110%;
                font-family: HelveticaLT57;
                top: 40%;
                text-align: center;
            }



            div.img-container {
                top: 50%;

                @include respond-to(lg) {
                    top: 55%;
                }

                img.yellow {
                    width: 70%;
                }

                img.green {
                    width: 70%;
                }
    
                img.black {
                    display: none;
                }
            }
    
            
        }
    }

    @import 'page1';

    @import 'page2';

    @import 'page3';

    @import 'page4';
}