@import 'mixin';

@font-face {
    font-family: 'HelveticaLT57';
    src: url("fonts/HelveticaNeueLTStd-Cn.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SubwayBold';
    src: url("fonts/SubwayFootlongOffice.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Subway';
    src: url("fonts/SubwaySix-InchOffice.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

$green: #028940;
$light-green: #8bcd32;
$yellow: #ffc20d;
$white: #FFF;
$black: #4e4e4e;
$Subway: 'Subway';
$Subway-bold: 'SubwayBold';
$grey: #e6e6e6;


body {
    font-family: Subway;
    color: $white;

    @include respond-to(xs) {
        font-size: 12px;
    }

    @include respond-to(sm) {
        font-size: 12px;
    }

    @include respond-to(md) {
        font-size: 12px;
    }

    .r1 {
        width: 50%;
        margin: auto;

        @include respond-to(xs) {
            width: 70%;
        }

        @include respond-to(sm) {
            width: 65%;
        }
    }

    .rounded-container {
        height: 100%;
        position: relative;

        .rounded-div {
            height: 130px;
            width: 130px;
            border-radius: 50%;
            position: relative;
    
            span, div.img-container {
                position: absolute;
                left: 0;
                right: 0;
                text-align: center;
            }
            
            span {
                font-size: 110%;
                font-family: HelveticaLT57;
                top: 40%;
                text-align: center;
            }



            div.img-container {
                top: 50%;

                @include respond-to(lg) {
                    top: 55%;
                }

                img.yellow {
                    width: 70%;
                }
    
                img.black {
                    display: none;
                }
            }
    
            
        }
    }

    .page-1 {
        overflow: hidden;
        position: relative;

        .img-bg {
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            z-index: -1;
            content: url(../assets/images/1020/header-bg.png);

            @include respond-to(xs) {
                width: 340%;
                left: -100%;
                top: -5%;
            }
        }

        .page-1-bg-color {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $green;
            z-index: -2;
        }
        
        .part-1 {
            .logo {
                margin-top: 40px;

                @include respond-to(xs) {
                    margin-top: 10px;

                    span {
                        display: block;
                    }
                }

                @include respond-to(sm) {
                    margin-top: 20px;
                }

                @include respond-to(md) {
                    margin-top: 20px;
                }

                @include respond-to(lg) {
                    margin-top: 25px;
                }

                img.subway, img.entwined {
                    width: 150px;

                    @include respond-to(xs) {
                        width: 100px;
                    }

                    @include respond-to(sm) {
                        width: 100px
                    }

                    @include respond-to(md) {
                        width: 100px
                    }

                    @include respond-to(lg) {
                        width: 110px;
                    }
                }
            }

            .greetings-1 {
                margin-top: 65px;
                display: flex;
                flex-direction: column;

                @include respond-to(xs) {
                    margin-top: 30px;
                }

                @include respond-to(sm) {
                    margin-top: 40px;
                }

                @include respond-to(md) {
                    margin-top: 40px;
                }

                @include respond-to(lg) {
                    margin-top: 45px;
                }
            }

            .greetings-2 {
                position: relative;

                h2 {
                    margin: 0;
                    font-size: 600%;
                    font-family: $Subway-bold;
                    color: $yellow;
                    line-height: 90%;

                    @include respond-to(xs) {
                        font-size: 400%;
                        color: $white;
                    }

                    @include respond-to(sm) {
                        font-size: 300%;
                    }

                    @include respond-to(md) {
                        font-size: 300%;
                    }

                    @include respond-to(lg) {
                        font-size: 350%;
                    }
                }
    
                h3 {
                    margin: 10px 0;
                    font-size: 350%;
                    font-family: $Subway-bold;
                    color: $white;

                    @include respond-to(xs) {
                        font-size: 300%;
                        color: $yellow;
                    }

                    @include respond-to(sm) {
                        font-size: 200%;
                    }

                    @include respond-to(md) {
                        font-size: 200%;
                    }

                    @include respond-to(lg) {
                        font-size: 250%;
                    }
                }

                img.menu {
                    position: absolute;
                    width: 100%;
                    top: -20%;
                    left: 25%;
                    z-index: -1;

                    @include respond-to(xs) {
                        top: 20%;
                        left: 10%;
                    }

                    @include respond-to(sm) {
                        width: 80%;
                        left: 20%;
                    }

                    @include respond-to(md) {
                        width: 80%;
                        top: -25%;
                    }

                    @include respond-to(lg) {
                        width: 90%;
                        top: -25%;
                        left: 20%;
                    }

                    @include respond-to(xlg) {
                        top: -5%;
                        left: 30%;
                    }

                    @include respond-to(xxlg) {
                        top: -10%;
                        left: 30%;
                    }
                }
            }

            .details-1 {
                margin: 130px auto;

                @include respond-to(xs) {
                    margin: 15px auto 30px;
                }

                @include respond-to(sm) {
                    margin: 10px auto;
                }

                @include respond-to(md) {
                    margin: 80px auto 40px auto;
                }

                @include respond-to(lg) {
                    margin: 100px auto 60px;
                }

                @include respond-to(xlg) {
                    margin: 35px auto;
                }

                @include respond-to(xxlg) {
                    margin: 70px auto;
                }

                ol {
                    margin: 5px 0 0 0;
                    padding: 0 0 0 15px;
                    font-size: 85%;
                }
            }
        }

        .part-2 {
            background-color: $green;

            @include respond-to(xs) {
                background-color: $grey;
            }

            .greetings-3 {
                margin-top: 20px;

                h4 {
                    margin: 0;
                    font-family: HelveticaLT57;
                    font-size: 220%;
                    color: $yellow;

                    @include respond-to(xs) {
                        font-size: 300%;
                        color: $black;
                    }

                    @include respond-to(sm) {
                        font-size: 140%;
                    }

                    @include respond-to(md) {
                        font-size: 140%;
                    }

                    @include respond-to(lg) {
                        font-size: 170%;
                    }
                }
            }

            .greetings-4 {
                font-family: HelveticaLT57;
                margin-top: 30px;

                @include respond-to(xs) {
                    color: $black;
                }

                @include respond-to(sm) {
                    margin-top: 20px;
                }

                @include respond-to(md) {
                    margin-top: 20px;
                }

                @include respond-to(lg) {
                    margin-top: 25px;
                }
            }
            
            .images {
                height: 150px;
                text-align: center;

                img.menu-sub {
                    width: auto;
                    height: 160%;
                    margin: auto;

                    @include respond-to(xs) {
                        width: 85%;
                        height: auto;
                        margin: auto;
                    }

                    @include respond-to(sm) {
                        height: 90%;
                    }

                    @include respond-to(md) {
                        height: 90%;
                    }

                    @include respond-to(lg) {
                        height: 110%;
                    }

                    @include respond-to(xlg) {
                        height: 120%;
                    }

                    @include respond-to(xxlg) {
                        height: 135%;
                    }
                }

                @include respond-to(xs) {
                    height: 70px;
                }
            }

            .footer {
                &.f1 {
                    margin-top: 40px;

                    @include respond-to(xs) {
                        margin-top: 10px;
                    }

                    @include respond-to(sm) {
                        margin-top: 20px;
                    }

                    @include respond-to(md) {
                        margin-top: 20px;
                    }

                    h5 {
                        margin: 0;
                        font-size: 170%;
                        font-family: $Subway-bold;
                        color: $yellow;
                        text-align: center;
                        width: 25%;
                        margin: auto;

                        @include respond-to(xs) {
                            width: 65%;
                            color: $black;
                            text-align: left;
                            font-size: 160%;
                            font-weight: bold;
                            font-family: HelveticaLT57;
                        }

                        @include respond-to(sm) {
                            font-size: 120%;
                        }

                        @include respond-to(md) {
                            font-size: 120%;
                        }

                        @include respond-to(lg) {
                            font-size: 130%;
                        }
                    }
                }

                &.f2 {
                    position: relative;
                    height: 65px;

                    @include respond-to(sm) {
                        height: 50px;
                    }

                    @include respond-to(md) {
                        height: 50px;
                    }

                    @include respond-to(lg) {
                        height: 50px;
                    }
    
                    .rounded-div {
                        background-color: $green;
                        color: $yellow;
                        position: absolute;
                        left: 0;
                        right: 0;
                        margin-left: auto;
                        margin-right: auto;

                        @include respond-to(xs) {
                            background: transparent;
                            color: $black;
                            margin: 5px auto;
                            text-align: left;
                            display: block;
                            width: 65%;
                            height: auto;

                            span {
                                text-align: left;
                            }

                            div.img-container {
                                top: 10px;
                                
                                img.yellow {
                                    display: none;
                                }
    
                                img.black {
                                    display: block;
                                    margin-left: -5px;
                                    width: 80px;
                                }
                            }
                        }

                        @include respond-to(sm) {
                            height: 100px;
                            width: 100px;

                            span {
                                font-size: 100%;
                            }
                        }

                        @include respond-to(md) {
                            height: 100px;
                            width: 100px;

                            span {
                                font-size: 100%;
                            }
                        }

                        @include respond-to(lg) {
                            height: 100px;
                            width: 100px;

                            span {
                                font-size: 100%;
                            }
                        }
                    }
                }

                &.f3 {
                    background-color: $white;
                    height: 130px;

                    @include respond-to(xs) {
                        height: 0;
                    }

                    @include respond-to(sm) {
                        height: 100px;
                    }

                    @include respond-to(md) {
                        height: 100px;
                    }

                    @include respond-to(lg) {
                        height: 100px;
                    }
                }
            }
        }
    }

    .page-2 {
        display: none;
        width: 100%;
        overflow: auto;
        background-color: $white;
        overflow: hidden;
        color: $black;

        .row {
            &:nth-child(1) {
                h2 {
                    margin: 0;
                    color: $black;
                    font-size: 250%;
                    text-align: center;
                }
            }

            &:nth-child(2) {
                margin: 25px 0;
                h3 {
                    margin: 0;
                    color: $green;
                    font-family: fantasy;
                    font-size: 280%;
                    text-align: center;
                }
            }

            &.bundle {
                .part {
                    &:nth-child(1) {
                        display: flex;
                        flex-direction: column;
                        height: 400px;
                        border-right: 5px solid #e6e6e6;
                        border-bottom: 5px solid #e6e6e6;
    
                        .main-label {
                            text-align: right;
                            font-size: 170%;
                            font-family: fantasy;
                            color: $green;
                        }
    
                        .sub-label {
                            text-align: right;
                            font-size: 150%;
                            color: $light-green;
                        }
                    }
                    
                    &:nth-child(2) {
                        display: flex;
                        flex-direction: column;
                        height: 400px;
                        border-left: 5px solid #e6e6e6;
                        border-bottom: 5px solid #e6e6e6;

                        .main-label {
                            font-size: 170%;
                            font-family: fantasy;
                            color: $green;
                        }
    
                        .sub-label {
                            font-size: 150%;
                            color: $light-green;
                        }
                    }
                }
            }

            &.footer-2 {
                height: 130px;
                position: relative;
                background-color: $green;

                &.f1 {
                    height: 65px;
                    display: none;
                    background-color: $white;
                }

                .rounded-div {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: -50%;
                    margin: 0 auto;
                    color: $green;
                    background-color: $white;
                }
            }
        }
    }

    .page-3 {
        display: none;
        width: 100%;
        overflow: auto;
        background-color: $green;
        overflow: hidden;
        color: $yellow;
        height: 1500px;
    }
}