.page-3 {
    display: none;
    width: 100%;
    overflow: auto;
    background-color: $green;
    overflow: hidden;
    color: $yellow;

    .heading {

        h3 {
            text-align: center;
            font-family: SubwayBold;
            font-size: 30pt;
            color: $yellow;
            margin: 0;

            @include respond-to(xs) {
                font-size: 18pt;
                margin-top: 10px;
            }

            @include respond-to(sm) {
                font-size: 25pt;
            }
        }

        h4 {
            margin: 0 auto;
            text-align: center;
            font-size: 18pt;
            color: $white;
            width: 50%;

            &:nth-child(2) {
                margin-top: 20pt;
            }

            &:nth-child(3) {
                margin-top: 10pt;
            }

            @include respond-to(xs) {
                font-size: 11pt;
                width: 80%;

                &:nth-child(2) {
                    margin-top: 12pt;
                }
    
                &:nth-child(3) {
                    margin-top: 6pt;
                }   
            }

            @include respond-to(sm) {
                font-size: 13.5pt;
                width: 80%;

                &:nth-child(2) {
                    margin-top: 15pt;
                }
    
                &:nth-child(3) {
                    margin-top: 7.5pt;
                }   
            }
        }
        
    }

    .bundles {
        margin-top: 30px;
        height: 750px;

        @include respond-to(xs) {
            height: auto;
        }

        @include respond-to(sm) {
            height: 500px;
        }

        .col-xs-4 {
            height: 100%;

            @include respond-to(xs) {
                height: 470px;
                width: 100%;
            }

            &:nth-child(1) {
                .bundle-choice {
                    margin: auto;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;

                    @include respond-to(xs) {
                        left: 0;
                    }
                }
            }

            &:nth-child(2) {
                .bundle-choice {
                    margin: auto;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }

            &:nth-child(3) {
                .bundle-choice {
                    margin: auto;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;

                    @include respond-to(xs) {
                        right: 0;
                    }
                }
            }

            .bundle-choice {
                background-color: $white;
                width: 60%;
                height: 80%;
                transition: all .15s;

                @include respond-to(sm) {
                    width: 80%;
                    height: 80%;
                }

                @include respond-to(md) {
                    width: 80%;
                    height: 70%;
                }
    
                .row {
                    text-align: center;
                }

                &.selected {
                    transform: scale(1.2);
                    outline: 2px solid $yellow;
                }
    
                h2 {
                    font-family: SubwayBold;
                    font-size: 25pt;
                    color: $green;
                    text-align: center;
                    margin: 10pt 0 0 0;

                    @include respond-to(xs) {
                        font-size: 15pt;
                        margin: 6pt 0 0 0;
                    }

                    @include respond-to(sm) {
                        font-size: 18.75pt;
                        margin: 7.5pt 0 0 0;
                    }
                }
    
                h5 {
                    font-size: 11pt;
                    color: $dark-green;
                    text-align: center;
                    margin: 0;

                    @include respond-to(xs) {
                        font-size: 7pt;
                    }

                    @include respond-to(sm) {
                        font-size: 8pt;
                    }
                }
    
                img {
                    width: 70%;
                    margin: 10pt auto 20pt;

                    @include respond-to(xs) {
                        margin: 6pt auto 12pt;
                    }

                    @include respond-to(sm) {
                        margin: 7.5pt auto 15pt;
                    }
                }
    
                h4 {
                    color: $green;
                    margin: 0;
                    text-align: center;
                    margin-bottom: 2px;
    
                    &.lbl {
                        font-family: SubwayBold;
                        font-size: 12pt;
                        
                        @include respond-to(xs) {
                            font-size: 7pt;
                        }

                        @include respond-to(sm) {
                            font-size: 9pt;
                        }
                    }
                    
                    &.details {
                        font-size: 11pt;

                        @include respond-to(xs) {
                            font-size: 7pt;
                        }

                        @include respond-to(sm) {
                            font-size: 8pt;
                        }
                    }
                }

                button {
                    border: 5px solid #028940;
                    color: #028940;
                    width: 50%;
                    border-radius: 0;
                    background: #FFF;
                    margin-top: 20pt;
                    font-family: SubwayBold;
                    height: 35pt;

                    @include respond-to(xs) {
                        border: 3px solid $green;
                        margin-top: 12pt;
                        height: 21pt;
                        line-height: 0;
                    }

                    @include respond-to(sm) {
                        border: 3px solid $green;
                        margin-top: 15pt;
                        height: 26.25pt;
                        line-height: 0;
                    }
                }
    
                h3 {
                    font-size: 11pt;
                    color: $light-green;

                    @include respond-to(xs) {
                        font-size: 7pt;
                    }

                    @include respond-to(sm) {
                        font-size: 8pt;
                    }
                }

                h1 {
                    font-size: 40pt;
                    font-family: SubwayBold;
                    color: $green;
                    margin: 0;
                    text-align: center;

                    @include respond-to(xs) {
                        font-size: 24pt;
                    }

                    @include respond-to(sm) {
                        font-size: 28pt;
                    }

                    @include respond-to(md) {
                        font-size: 35pt;
                    }
                }
            }
        }

        
    }

    .footer-details {
        h5 {
            font-size: 15pt;
            color: $white;
            text-align: center;
            width: 50%;
            margin: 20pt auto 30pt;

            @include respond-to(xs) {
                font-size: 9pt;
                margin: 12pt auto 18pt;
                width: 80%;
            }

            @include respond-to(sm ){
                font-size: 11.25pt;
                margin: 15pt auto 22.5pt;
                width: 80%;
            }
        }

        h2 {
            text-align: center;
            color: $white;
            font-family: SubwayBold;
            font-size: 48pt;

            @include respond-to(xs) {
                font-size: 28pt;
            }

            @include respond-to(sm) {
                font-size: 36pt;
            }
        }

        h6 {
            text-align: center;
            margin: 0;
            color: $white;
            font-size: 18pt;

            @include respond-to(xs) {
                font-size: 11pt;
                width: 85%;
                margin: 0 auto;
            }

            @include respond-to(sm) {
                font-size: 13.5pt;
                width: 90%;
                margin: 0 auto;
            }
        }
    }

    .footer-3 {
        &.f2 {
            position: relative;
            height: 65px;

            @include respond-to(sm) {
                height: 50px;
            }

            @include respond-to(md) {
                height: 50px;
            }

            @include respond-to(lg) {
                height: 50px;
            }

            .rounded-div {
                background-color: $green;
                color: $white;
                position: absolute;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;

                @include respond-to(xs) {
                    background: transparent;
                    color: $black;
                    margin: 5px auto;
                    text-align: left;
                    display: block;
                    width: 65%;
                    height: auto;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    color: $white;

                    span {
                        text-align: center;
                        top: 0;
                    }

                    div.img-container {
                        top: 10px;
                        
                        img.yellow {
                            display: block;
                            width: 80px;
                            margin: 0 auto;
                        }

                        img.black {
                            display: none;
                        }
                    }
                }

                @include respond-to(sm) {
                    height: 100px;
                    width: 100px;

                    span {
                        font-size: 100%;
                    }
                }

                @include respond-to(md) {
                    height: 100px;
                    width: 100px;

                    span {
                        font-size: 100%;
                    }
                }

                @include respond-to(lg) {
                    height: 100px;
                    width: 100px;

                    span {
                        font-size: 100%;
                    }
                }
            }
        }

        &.f3 {
            background-color: $white;
            height: 100px;

            @include respond-to(xs) {
                height: 0;
            }

            @include respond-to(sm) {
                height: 100px;
            }

            @include respond-to(md) {
                height: 100px;
            }

            @include respond-to(lg) {
                height: 100px;
            }
        }
    }
}