.page-2 {
    display: none;
    width: 100%;
    overflow: auto;
    background-color: $white;
    overflow: hidden;
    color: $black;

    .row {
        h2 {
            margin: 0;
            color: $black;
            font-size: 24pt;
            text-align: center;
            font-family: Subway;

            @include respond-to(xs) {
                font-size: 14pt;
                width: 90%;
                margin: 20px auto 0;
            }

            @include respond-to(sm) {
                font-size: 18pt;
            }

            @include respond-to(md) {
                font-size: 19.2pt;
            }

            @include respond-to(lg) {
                font-size: 20.4pt;
            }

            @include respond-to(xlg) {
                font-size: 21.6pt;
            }

            @include respond-to(xxlg) {
                font-size: 22.8pt;
            }
        }
        
        h3 {
            margin: 0;
            color: $green;
            font-family: SubwayBold;
            font-size: 60pt;
            text-align: center;

            @include respond-to(xs) {
                font-size: 36pt;
            }

            @include respond-to(sm) {
                font-size: 45pt;
            }

            @include respond-to(md) {
                font-size: 48pt;
            }

            @include respond-to(lg) {
                font-size: 51pt;
            }

            @include respond-to(xlg) {
                font-size: 54pt;
            }

            @include respond-to(xxlg) {
                font-size: 57pt;
            }
        }

        &.bundles {
            margin-top: 20pt;

            .bundle {
                height: 450px;

                img {
                    width: 100%;
                }

                @include respond-to(xs) {
                    height: auto;
                }

                @include respond-to(md) {
                    height: 480px;
                }

                &:nth-child(1) {
                    margin-top: 15px;

                    @include respond-to(xs) {
                        .part:nth-child(1) {
                            border: 0;
                        }
                    }
                }

                .part {
                    height: 100%;

                    &:nth-child(1) {
                        text-align: right;
                        border-right: 5px solid $grey;
                        border-bottom: 7px solid $grey;

                        h2, h3, h4 {
                            margin: 0 0 0 auto;
                            text-align: right;
                        }

                        @include respond-to(xs) {
                            //display: block;
                            width: 100%;
                            border-right: 0;
                        }
                    }

                    &:nth-child(2) {
                        border-left: 5px solid $grey;
                        border-bottom: 7px solid $grey;

                        h2, h3, h4 {
                            margin: 0;
                            text-align: left;
                        }

                        @include respond-to(xs) {
                            border-left: 0;
                            //display: block;
                            width: 100%;
                        }
                    }

                    .row {
                        margin-bottom: 10pt;
                    }

                    

                    h2 {
                        font-size: 30pt;
                        color: $green;
                        font-family: SubwayBold;

                        @include respond-to(xs) {
                            font-size: 18pt;
                        }

                        @include respond-to(sm) {
                            font-size: 22.5pt;
                        }

                        @include respond-to(md) {
                            font-size: 24pt;
                        }

                        @include respond-to(lg) {
                            font-size: 25.5pt;
                        }

                        @include respond-to(xlg) {
                            font-size: 27pt;
                        }

                        @include respond-to(xxlg) {
                            font-size: 28.5pt;
                        }
                    }

                    h3 {
                        font-size: 18pt;
                        color: $dark-green;
                        font-family: SubwayBold;

                        @include respond-to(xs) {
                            font-size: 11pt;
                        }

                        @include respond-to(sm) {
                            font-size: 13.5pt;
                        }

                        @include respond-to(md) {
                            font-size: 14.4pt;
                        }
                        
                        @include respond-to(lg) {
                            font-size: 15.3pt;
                        }

                        @include respond-to(xlg) {
                            font-size: 16.2pt;
                        }

                        @include respond-to(xxlg) {
                            font-size: 17.1pt;
                        }
                    }

                    h4 {
                        font-size: 18pt;
                        color: $light-green;
                        width: 80%;

                        @include respond-to(xs) {
                            font-size: 11pt;
                        }

                        @include respond-to(sm) {
                            font-size: 13.5pt;
                        }

                        @include respond-to(md) {
                            width: 100%;
                            font-size: 14.4pt;
                        }

                        @include respond-to(lg) {
                            font-size: 15.3pt;
                        }

                        @include respond-to(xlg) {
                            font-size: 16.2pt;
                        }

                        @include respond-to(xxlg) {
                            font-size: 17.1pt;
                        }
                    }
                }
            }
        }

        &.footer-2 {
            height: 130px;
            position: relative;
            background-color: $green;

            @include respond-to(xs) {
                margin: 0;
                height: 60px;
            }

            &.f1 {
                height: 65px;
                display: none;
                background-color: $white;

                @include respond-to(xs) {
                    height: 60px;
                }
            }

            &.f2 {
                @include respond-to(xs) {
                    background-color: $white;
                }
            }

            .rounded-div {
                background-color: $white;
                color: $black;
                position: absolute;
                left: 0;
                right: 0;
                top: -50%;
                margin-left: auto;
                margin-right: auto;

                @include respond-to(xs) {
                    background: transparent;
                    color: $black;
                    margin: 5px auto;
                    text-align: left;
                    display: block;
                    width: 65%;
                    height: auto;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;

                    span {
                        text-align: center;
                        top: 0;
                    }

                    div.img-container {
                        top: 10px;
                        
                        img.green {
                            display: none;
                        }

                        img.black {
                            display: block;
                            width: 80px;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }

                @include respond-to(sm) {
                    height: 100px;
                    width: 100px;

                    span {
                        font-size: 100%;
                    }
                }

                @include respond-to(md) {
                    height: 100px;
                    width: 100px;

                    span {
                        font-size: 100%;
                    }
                }

                @include respond-to(lg) {
                    height: 100px;
                    width: 100px;

                    span {
                        font-size: 100%;
                    }
                }
            }
        }
    }
}